name: Java CI with Maven

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven
      - name: Set up Maven memory settings
        run: export MAVEN_OPTS="-Xmx4g"
      - name: Build with Maven
        run: mvn -B package --file pom.xml

  test:
    name: Test
    runs-on: ubuntu-latest
    needs: [build] # Ce job dépend du job 'build'

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Install dependencies
        run: |
          # Commandes pour installer les dépendances nécessaires aux tests
           mvn clean test
      - name: Run automated tests
        run: |
          # Commandes pour exécuter des tests automatisés
           mvn test

 
